.car {
    -fx-background-color: #FFF;
    -fx-background-radius: 5;

    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5;
}

.scroll-pane {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.scroll-bar:vertical {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #d3d3d3;
    -fx-background-radius: 0em;
}


.choice-box {
    -fx-background-color: #FFF;
    -fx-background-radius: 5;

    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5;
    -fx-border-width: 2px;

    -fx-mark-color: #d3d3d3;
}


.choice-box .context-menu {
    -fx-background-color: #FFF;
    -fx-background-radius: 5;

    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5;
    -fx-border-width: 2px;
}

.choice-box .menu-item:focused {
    -fx-background-color: #d3d3d3;
}

.choice-box .menu-item > .label {
    -fx-text-fill: black;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.table-view {

}

.table-view .column-header {
    -fx-background-color: rgba(0, 0, 0, 0);

    -fx-border-width: 5;
}

.table-view .column-header-background {
    -fx-background-color: #d3d3d3;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #FFF;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #d3d3d3;
}

.table-row-cell:selected {
    -fx-background-color: -fx-table-cell-border-color, #8D99AE;
    -fx-table-cell-border-color: transparent;
}
